{{extend 'mylayout.html'}}
{{block head}}
{{include 'cdn_datatables.html'}}
<style type="text/css">
</style>
{{end}}

{{block header}}
{{end}}
<div class="container center">
  <div class="row py-2">
    <h1 class="center">Indesign Script</h1>
  </div>
  <div class="row py-2">
    <a href="{{=URL('pdf','index')}}" class="btn btn-outline-secondary btn-lg btn-block">
      <h4>Export PDF</h4>
    </a>
  </div>
  <div class="row py-2">
    <a href="{{=URL('jpg','index')}}" class="btn btn-outline-secondary btn-lg btn-block">
      <h4>Export JPG</h4>
    </a>
  </div>
</div>