{{extend 'mylayout.html'}}
{{block head}}
{{include 'cdn_datatables.html'}}

<style type="text/css">
  nav.navbar{ display:none; }
  .no-padding{ padding-left:0px; padding-right:0px; }
  .no-margin{ margin-left:0px; margin-right:0px; }
  .text{ word-wrap: break-word; white-space: pre-line; }
  .bg-gray{ background-color: #ccc; }
  .border-black{ border: 1px solid black; }
  .error{ color:red; }
  pre{
    word-wrap: break-word; white-space: pre-line;
    }
  code{ color:#08F; }
  .filename{ font-size:12px; font-weight: bold; }
  .fa{ font-size:2rem; }
  .dataTables_processing{ background-color: #555;}
  .dataTables_length, .dataTables_filter, .dataTables_info, .dataTables_paginate{ font-size: 0.7rem; }
  @media only screen and (max-width: 768px) {
    .dataTables_filter input { width: 160px!important;}
    .dataTables_length, .dataTables_filter{ display: inline }
    .dataTables_filter{ float: right; position:absolute; right:20px; top:-38px; }
  }
  li.active > a.page-link{
    border-color: #dee2e6!important;
    background-color: #FFF!important; color:#343a40!important;
  }
  input[type=checkbox]{ zoom: 1.7; position: relative; top: 2px; margin:0!important}
  div.checkbox > label{ font-size: 0.9rem; margin:0!important}
  /* py form & datatable in dark mode */
  body{ background-color: #343a40; color: white }
  input.form-control, select.form-control, textarea.form-control, a.page-link {
    background-color: #343a40!important; color:white!important;
  }
  li.active > a.page-link{
    border-color: #dee2e6!important;
    background-color: #FFF!important; color:#343a40!important;
  }
  input[type=checkbox]{ zoom: 1.7; position: relative; top: 2px; margin:0!important}
  div.checkbox > label{ font-size: 0.9rem; margin:0!important}
</style>
{{end}}

{{block header}}
  <div id="app-alertVue" class="center">
    <h3 class="center">{{=request.controller}}</h3>
    <div class="btn-group">
      <a class="btn btn-block btn-primary" href="javascript:void(0)" style="height:33px" data-toggle="modal" data-target="#app-folderVue" data-backdrop="static" onclick="javascript:formVue.init()">New Export</a>
      <a class="btn btn-block btn-secondary" href="{{=URL('onIdle')}}" target="_blank" style="height:33px; margin-top:0;">onIdle</a>
      <div class="dropdown btn-group" v-if="vAlert.isadmin">
        <button type="button" class="btn btn-block btn-primary dropdown-toggle" data-toggle="dropdown">menu</button>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="javascript:void(0)" v-on:click="call">launchApp</a>
          <a class="dropdown-item" href="javascript:void(0)" v-on:click="call">openFile</a>
          <a class="dropdown-item" href="javascript:void(0)" v-on:click="call">alertCount</a>
          <a class="dropdown-item" href="javascript:void(0)" v-on:click="call">checkAppStatus</a>
          <a class="dropdown-item" href="javascript:void(0)" v-on:click="call">backgroundTasks</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="javascript:void(0)" v-on:click="call">addIdleTask</a>
          <a class="dropdown-item" href="javascript:void(0)" v-on:click="call">removeIdleTasks</a>
        </div>
      </div>
    </div>

    <br>
    <!-- div message -->
    <div class="message" style="width:100%; position:absolute; top:2px; z-index:1060;">
      <transition name="fade">
        <div class="container alert" v-show="(vAlert.success==true || vAlert.warning==true)"
              v-bind:class="{ 'alert-success':vAlert.success, 'alert-warning':vAlert.warning }">
            <span><% vAlert.message %><span>
        </div>
      </transition>
    </div>

  </div>
  <script>
  var alert = { success:false, warning:false, message:"", isadmin:false }
  {{if auth.user and auth.user.email =="kwongsin@skyyer.com":}}
      alert.isadmin = true;
  {{pass}}
  var alertVue = new Vue({
      el: '#app-alertVue',
      delimiters: ["<%","%>"],
      data: {vAlert:alert},
      created: function() {
        this.call()
      },
      updated: function(){
        var thisVue = this
        console.log( `alertVue updated: "${this.vAlert.message}"`);
        window.setTimeout(function(){
          thisVue.vAlert.success = false;
          thisVue.vAlert.warning = false;
          thisVue.vAlert.message = ""
        },3000);
      },
      methods: {
        call: function( event ){
          if(event){
              var funcName = event.target.innerHTML;
              var thisVue = this
              console.log( funcName );
              // Make a request for a user with a given ID
              axios.get('/mySkyyer/inddpdf/'+ funcName +'?id=123456')
                .then(function (response) { // handle success
                  console.log('axios success! response.data.success: '+ response.data.success +', id: '+ response.data.id );
                  thisVue.vAlert.success = response.data.success
                  thisVue.vAlert.warning = response.data.warning
                  if( funcName=="alertCount" ){
                    console.log(response.data);
                    thisVue.vAlert.message = response.data.message
                  }else if( funcName=="checkAppStatus" ){
                    thisVue.vAlert.message = response.data.message
                  }else{
                    thisVue.vAlert.message = response.data.message
                  }
                })
                .catch(function (error) { // handle error
                  console.log(error);
                })
                .then(function () { // always executed
                });
          }else{
              console.log('alertVue started');
          }
        }
        },
    })
  </script>
{{end}}

<div class="row">
  <div class="container no-maring no-padding">
    <table id="ajaxTable" class="table table-striped" style="width:100%; font-size:1rem;">
        <thead>
            <tr>
                <th><center>ID</center></th>
                <th>filename</th>
                <th>pdfpreset</th>
                <th>pagerange</th>
                <th>errormessage</th>
                <th><center>status</center></th>
                <th>filepath</th>
                <th>createdate</th>
                <th>exectime</th>
            </tr>
        </thead>
    </table>
  </div>
</div>
<script>
$(document).ready(function(){
  $('[data-toggle="popover"]').popover();

  var exportTable = $('#ajaxTable').DataTable({
       "pagingType": "full_numbers",
       "lengthMenu": [[5, 10, 25, 50, -1], [5, 10, 25, 50, "All"]],
       "pageLength": 5,
       "search": true,
       "paging": true,
       "ordering": false,
       "order": [[ 0, "asc" ]],
       "info":     true,
       "processing": true,
       "serverSide": true,
       "columns": [
           { "data": "id" },
           { "data": "filename" },
           { "data": "pdfpreset" },
           { "data": "pagerange" },
           { "data": "errormessage" },
           { "data": "status" },
           { "data": "filepath" },
           { "data": "createdate" },
           { "data": "exectime" },
           { "data": "inddname" },
       ],
       "columnDefs": [
           //keyID
           { "targets": [ 0 ], "visible":true, "searchable": false, "orderable":false,
             "render": function( data, type, row ){
                return '<center><a href="/myskyyer/inddpdf/index/'+data+'" class="btn btn-sm text-light btn-dark" style="font-size:1rem;">'+ data +'</a></center>'
             }
           },
           //filename
           { "targets": [ 1 ], "width":"auto", "searchable":true, "orderable":false,
             "render": function( data, type, row ){
                 if(row["status"]=="Error"){
                   var textClass = "text-warning"
                   var badgeClass = "badge-warning"
                 }else if(row["status"]=="Finish"){
                   var textClass = "text-secondary"
                   var badgeClass = "text-secondary"
                 }else if(row["status"]=="Processing"){
                   var textClass = "text-light"
                   var badgeClass = "badge-primary"
                 }else if(row["status"]=="Idle"){
                   var badgeClass = "badge-light"
                 }
                 var pdfpreset = '<span class="badge badge-pill '+badgeClass+'">'+ row["pdfpreset"] +'</span>';
                 var pagerange = '<span class="badge badge-pill '+badgeClass+'">'+ row["pagerange"] +'</span>';
                 var errormessage = '';
                 if( row["errormessage"] ){
                    var errormessage = '<span class="badge badge-pill '+badgeClass+'">'+ row["errormessage"] +'</span>';
                 }
                 var execTime = ''
                 if(row["status"]=="Finish"){
                   execTime = (row["exectime"])? '<span class="badge badge-pill '+badgeClass+'">'+row["exectime"]+'s</span>' : "";
                 }
                 var mdate = ''
                 if(row['mdate']){
                   mdate = '<span class="badge badge-pill '+badgeClass+'">'+row["mdate"]+'</span>'
                 }
                 var inddname = (row['inddname'])? '<span class="badge badge-pill '+badgeClass+'">@'+row['inddname']+'</span>' : '' ;
                 return '<div class="filename '+textClass+'" title="'+row["filepath"]+'">'+ data +'</div>' + pdfpreset +' '+ pagerange +' '+ inddname +' '+ errormessage +' '+ execTime +' '+ mdate  ;
              }
           },
           { "targets": [ 2 ], "visible": false, "searchable":false, "orderable":false },
           { "targets": [ 3 ], "visible": false, "searchable":false, "orderable":false },
           { "targets": [ 4 ], "visible": false, "searchable":false, "orderable":false },
           { "targets": [ 5 ], "visible": true, "searchable":false, "orderable":false,
             "render": function( data, type, row ){
                 if(data=="Error"){
                   var status = '<center><i class="fa fa-warning text-warning"></i></center>'
                 }else if(data=="Finish"){
                   var status = '<center><i class="fa fa-check text-secondary"></i></center>'
                 }else if(data=="Processing"){
                   var status = '<center><i class="fa fa-spinner fa-spin text-primary"></i></center>'
                 }else if(data="Idle"){
                   var status = '<center><i class=""></i></center>'
                 }
                 return status
             }
           },
           { "targets": [ 6 ], "visible": false, "searchable":false, "orderable":false },
           { "targets": [ 7 ], "visible": false, "searchable":false, "orderable":false },
           { "targets": [ 8 ], "visible": false, "searchable":false, "orderable":false },
           { "targets": [ 9 ], "visible": false, "searchable":false, "orderable":false },
       ],
       "ajax": {
           url:"{{=URL('getExportList')}}",
           type: "POST",
           complete: function(results){
             //console.log("getExportList results:");
             //console.log(results.responseJSON);
           },
           error: function(xhr, error, thrown){
             // alert("An error occurred while attempting to retrieve data via ajax.\n"+thrown);
             console.log("An error occurred while attempting to retrieve data via ajax.\n"+thrown);;
           }
       },
     });
  });
  setInterval( function () {
    $('#ajaxTable').DataTable().ajax.reload(null, false);
    console.log('ajaxTable reloaded.');
  }, 30000 );
</script>

<!-- The Modal Form (py) -->
<div class="modal" id="pyform">
  <div class="modal-dialog">
    <div class="modal-content text-light bg-dark">
      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Export PDF Form</h4>
        <button type="button" class="close btn-close btn btn-default" data-dismiss="modal"><i class="fa fa-close text-light" style="font-size: 24px;"></i></button>
      </div>
      <!-- Modal body -->
      <div class="modal-body">
        {{=form}}
      </div>
      <!-- Modal footer -->
      <!-- <div class="modal-footer">
        <button class="btn-close" type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div> -->

    </div>
  </div>
  <script>
  $(document).ready(function(){
    {{if request.args(0):}}
       $("#pyform").modal({show: true, backdrop: "static"});
    {{pass}}
    $(".btn-close").click(function(){
       window.location.assign("{{=URL('index')}}")
    })
  });
  </script>
</div>

<br><br><br>


<!--======== The Modal Form (formVue) =========-->
<div class="modal fade" id="app-folderVue">
  <div class="modal-dialog">
    <div class="modal-content text-light bg-dark">
      <!-- Modal Header -->
      <div class="modal-header">
        <h6 class="modal-title" v-if="selectinddfilename"><% selectinddfilename %> <i class="fa fa-check c-blue" v-if="selectinddfilename"></i></h6>
        <h6 class="modal-title" v-else="currentname"><% currentname %></h6>
        <button type="button" class="close" data-dismiss="modal"><i class="fa fa-close text-light" style="font-size:24px"></i></button>
      </div>
      <!-- Modal body -->
      <div class="modal-body">

        <button type="button" class="btn btn-sm btn-outline-secondary text-light" v-on:click="get_back"><i class="fa fa-arrow-left" style="font-size:16px"></i> Black</button>

        <div class="list-group" style="font-size:0.8em;">
          <a href="#" class="list-group-item list-group-item-action text-light bg-dark" style="padding:0.3em">
            <i class="fa fa-folder-open-o"></i> <span class="font-weight-bold font-italic"><% currentname %></span>
          </a>

          <a href="#" class="list-group-item list-group-item-action text-light bg-dark" style="padding:0.3em 0.3em 0.3em 3em"
          v-for="(indd, index) in inddfiles" :title="indd.path" v-on:click="select_indd_file">
            <i class="fa fa-file" style="font-size:1.5em"></i> <% indd.name %> <i class="fa fa-check c-blue float-right" v-if="indd.path==selectinddfile"></i>
          </a>

          <a href="#" class="list-group-item list-group-item-action text-light bg-dark" style="padding:0.3em 0.3em 0.3em 3em"
          v-for="(child, index) in child" v-on:click="get_folders" :title="child.path">
            <i class="fa fa-folder-o" style="font-size:1.5em"></i> <% child.name %>
          </a>
        </div>

        <transition name="fade">
          <div class="form-group" v-show="(inddfileslength > 0 && selectinddfile)">
            <label for="pdfpreset">pdf preset:</label>
            <select class="form-control form-control-sm inline" style="width:auto" name="pdfpreset" v-model="pdfpreset">
              <option v-for="(child, index) in pdfpresetdefault" :value="child"><% child %></option>
            <select>
          </div>
        </transition>

        <transition name="fade">
          <div class="form-group" v-show="(inddfileslength > 0 && pdfpreset )" style="margin-bottom:0px;">

            <label for="rangetype">page range:</label>
            <div class="form-check-inline">
              <label class="form-check-label">
                <input type="radio" class="form-check-input" name="rangetype" value="All" v-model="rangetype"> All
              </label>
            </div>
            <div class="form-check-inline">
              <label class="form-check-label">
                <input type="radio" class="form-check-input" name="rangetype" value="Range" v-model="rangetype"> Range
              </label>
            </div>

            <transition name="fade">
              <div class="row" v-show="rangetype=='Range'">
                  <div class="form-group col-6">
                    <label for="rangestart">start: </label>
                    <span class="text-danger"> <% rangestartmessage %> </span>
                    <input id="rangestart" class="form-control form-control-sm inline" style="width:auto"
                    onkeyup="this.value=this.value.replace(/[^0-9]/g,'');"
                    name="rangestart" type="number" min="1" step="1" v-model="rangestart">
                  </div>
                  <div class="form-group col-6">
                    <label for="rangeend">end: </label>
                    <span class="text-danger"> <% rangeendmessage %> </span>
                    <input id="rangeend" class="form-control form-control-sm inline" style="width:auto"
                    onkeyup="this.value=this.value.replace(/[^0-9]/g,'');"
                    name="rangeend" type="number" min="1" step="1" v-model="rangeend">
                  </div>
              </div>
            </transition>
          </div>
        </transition>


      </div>
      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-primary btn-block" v-on:click="new_export"
            v-if="(inddfileslength > 0 && selectinddfile && pdfpreset && pagerange )"
            data-toggle="modal" data-backdrop="static" data-target="#myModal">Export PDF</button>
        <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>

<script>

var folderPathRoot = '/Volumes/Public1';

var FOLDERs = { currentname: "init name",
                currentpath:" init/path",
                childlength: 0,
                child:[
                  {name:'..',path:".."},
                  {name:'lll',path:"this/Links"},
                  {name:'ppp',path:"this/Pdfs"}
                ],
                inddfileslength: 0,
                inddfiles: [],
                selectinddfile: "",
                pdfpresetdefault: ["pdf_150ppi","pdf_150ppi_single","Toppan_pdf_31Dec2012"],
                pdfpreset: "",
                rangetype: "All",
                rangestart: "",
                rangeend: "",
                rangestartmessage: "",
                rangeendmessage: "",
              }

var formVue = new Vue({
    el: '#app-folderVue',
    delimiters: ["<%","%>"],
    data: FOLDERs,
    beforeCreate: function(){ },
    created: function() {
      this.get_folders(folderPathRoot);
      console.log('formVue started');
    },
    // mounted: function(){},
    updated: function(){
      //console.log( "selectinddfile: '"+ this.selectinddfile +"'");
      //console.log( `updated: rangetype:${this.rangetype}, pagerange:${this.pagerange}` );
    },
    computed: {
      pagerange: function(){
        if(this.rangetype=="All"){
          return "All"
        }else{
          if( this.rangestart.length>3 ){
              this.rangestartmessage = "max:999"
              return false
          }else{
              this.rangestartmessage = ""
          }
          if( this.rangeend.length>3 ){
              this.rangeendmessage = "max:999"
              return false
          }else{
              this.rangeendmessage = ""
          }

          if( isNaN(parseInt(this.rangestart)) || isNaN(parseInt(this.rangeend)) ){
            return false
          }
          if( parseInt(this.rangestart) > parseInt(this.rangeend) ){
            this.rangestartmessage = "Can Not > end page"
            return false
          }
          if( parseInt(this.rangestart)==0 || parseInt(this.rangeend)==0 ){
            if(parseInt(this.rangestart)==0 ){
              this.rangestartmessage = "'0':invalid"
            }
            return false
          }
          return this.rangestart +"-"+ this.rangeend
        }

      },
      selectinddfilename: function(){
        return this.selectinddfile.split("/").pop()
      }
    },
    // watch: {
    //   rangestart: function(){
    //     this.rangestring =   this.rangestart+"-"+this.rangeend
    //     console.log( "watch: this.rangestring= "+ this.rangestring );
    //   },
    //   rangeend: function(){
    //     this.rangestring =   this.rangestart+"-"+this.rangeend
    //     console.log( "watch: this.rangestring= "+ this.rangestring );
    //   }
    // },
    methods: {
      init: function(){
        if(localStorage.currentpath){
          this.get_folders(localStorage.currentpath);
        }else{
          this.get_folders(folderPathRoot);
        }
      },
      select_indd_file :function(event){
        this.selectinddfile = event.target.title
      },
      get_back: function(){
        var path = this.currentpath.split("/")
            path.pop()
            this.currentpath = path.join("/")
        //console.log('get_back(): request path: "'+this.currentpath+'"');
        this.get_folders(this.currentpath)
      },
      get_folders: function( event ){
          if(event.type!="click"){
            var path = event
            if(path==""){ return false; }
            this.currentpath = path
          }else{
            var path = event.target.title
            if(path==".."){
              var path = this.currentpath.split("/")
                  path.pop()
                  path =
                  this.currentpath = path.join("/")
            }
            this.currentpath = path
          }
          //set web store...
          localStorage.currentpath = path
          //console.log(localStorage.currentpath);

          //console.log('get_folders(): request path: "'+this.currentpath+'"');
          axios({
            method: 'POST', url: '/myskyyer/inddpdf/getFolders', timeout: 10000,
            data: { selectfolder:this.currentpath },
            validateStatus: (status) => {
              return true; // I'm always returning true, you may want to do it depending on the status received
            },
          }).then(function(response){
                if(response.status==500){
                  alertVue.vAlert.success = false;
                  alertVue.vAlert.warning = true;
                  alertVue.vAlert.message = response.statusText
                  return true
                }
                for( k in response.data ){
                    if( Array.isArray(response.data[k]) ){
                        FOLDERs[k] = []
                        for(var i=0; i<response.data[k].length; i++){
                          FOLDERs[k].push( response.data[k][i] )
                        }
                    }else{
                        FOLDERs[k] = response.data[k]
                    }
                }
                FOLDERs.selectinddfile = ""
                FOLDERs.pdfpreset = ""
                FOLDERs.pagerange = ""
                FOLDERs.selectinddfile = (FOLDERs.inddfileslength==1)? FOLDERs.inddfiles[0].path : "";
          }).catch(function(error){
              console.log("Error: "+ error);
          })
      },
      new_export: function(event){
          if(event.type=="click"){
              //console.log(event);
              var data = { filepath:this.selectinddfile, pdfpreset:this.pdfpreset, pagerange:this.pagerange }
              axios.post('/myskyyer/inddpdf/newExportRequest', data )
              .then(function (result) {
                $("#app-folderVue").modal("hide");
                $('#ajaxTable').DataTable().ajax.reload(null, false);
                console.log( result )
              })
              .catch(function (error) {
                console.log("Error: "+error);
              });
          }
      },
    }
})
</script>
